@media (max-width: 1024px) {
    .header__main {
        position: relative;
    }
    .bl-calc {
        font-size: 12px;
    }
    .bl-calc::after {
        width: 30px;
        height: 22px;
    }
    // .header__bl-contacts {
    //     display: none;
    // }
    .bl_calc-sity {
        align-items: center;
    }
    .header-search__body {
        padding: 10px;
    }
    .header-search__body .header-search__bl-nav-pages {
        display: none;
    } 
    .header-search {
        flex: 100%;
    }
    .mn-brands__item-body {
        padding-top: 10px;
        min-height: unset;
    }
    
    .mn-brands__item-body::after {
        width: 133px;
        height: 118px;
        bottom: 210px;
    }
    .mn-brands__bl-name-brands {
        margin-bottom: 20px;
    }
    .mn-brands__name-brands {
        width: 130px;
        height: 53px;
    }

    .main__bunner__title {
        font-size: 40px;
    }
    .main__bunner__subtitle {
        font-size: 18px;
    }
    .main__bunner__text {
        font-size: 14px;
    }
    .main__bunner__button {
        font-size: 19px;
    }
    .mn-products__ball {
        width: 183px;
        height: 183px;
    }
    .mn-products__pos-img {
        width: 194px;
    }
    .ds-700n .mn-products__items {
        grid-gap: 60px;
    }

    .text_h2.series__r-block__text {
        font-size: 36px;
    }
    .series__items {
        gap: 10px;
    }
    .series__body {
        font-size: 16px;
        padding: 10px 20px;
    }
    .series__r-block__bl-img {
        top: 80px;
    }
    .series__b-footer__size {
        font-size: 30px;
    }
    .series-why__body {
        gap: 20px;
    }
    .series-why__bl-text_big {
        font-size: 18px;
        line-height: 21px;
    }
    .series-why__bl-img {
        width: 301px;
        height: 249px;
    }
    .series-why__bl-img img {
        width: 100%;
        height: 100%;
    }
    .characteristics-btn {
        max-width: 302px;
    }
    .accumulators-why .series-why__bl-img{
        width: 408px;
        height: 301px;
    }
    .p-accumulators .series-why__body {
        gap: 20px;
    }
    .accumulators-why .series-why__bl-title {
        font-size: 30px;
        line-height: 21px;
        margin-bottom: 10px;
    }
    .accumulators-why .series-why__bl-text_small {
        font-size: 14px;
        line-height: 16px;
    }

  .calc__table {
    overflow: auto;
  }
  .swiper-wrapper.s-batteries__items.bp700 {
    display: flex;
  }
  .swiper-wrapper.s-batteries__items.bp700 {
    display: flex;
  }
  .s-batteries__items {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .table-pos {
    overflow: auto;
  }
  .h-products__items {
    @include grid(1fr 1fr 1fr, auto);
    grid-gap: 25px;
  }
  .calc__body {
    display: flex;
    flex-direction: column;
    grid-gap: 50px;
  }
  .mn-products__items,
  .mn-brands__items {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .p-cards__item-img {
    width: 100%;
    height: auto;
  }
  .p-cards .p-products1__body {
    padding-top: 120px;
  }
  .p-cards .p-products1__why__pos-img,
   .series-slider .p-products1__why__pos-img{
    position: static;
  }

  .s-batteries__items {
    display: flex;
    grid-gap: 0px;
    height: 438px;
  }

  .batteries__title p {
    font-size: 23px;
    padding-left: 20px;
  }
  .s-batteries__series {
    justify-self: center;
  }
  .s-batteries__series__text {
    line-height: 35px;
  }
  .s-batteries__item-img {
    width: 90px;
    height: 72px;
  }
  .s-batteries__info__text span {
    font-size: 22px;
  }
  .s-batteries__info__text {
    font-size: 15px;
  }
  .s-batteries__button {
    max-width: 104px;
    font-size: 12px;
  }

  .mn_areas__items {
    grid-template-columns: repeat(4, 1fr);
  }
//   .mn-news__items {
//     grid-template-columns: 1fr;
//   }
    .mn-news__pos-img {
        width: 300px;
    }
  .mn-clients__items {
    grid-template-columns: repeat(5, 1fr);
  }
  .mn-products__item__text {
    font-size: 14px;
  }
  .mn-products__item__btn {
    font-size: 14px;
  }
  .text_small {
    font-size: 12px;
  }
  .header__bl-nav {
    width: 100%;
  }
  .bl-contacts {
    flex-direction: column-reverse;
  }
  .bl-contact__1 {
    order: 1;
  }
  .s-batteries__items {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .s-batteries__series__text {
    font-size: 28px;
  }
  .s-batteries__text {
    font-size: 12px;
  }
  .series {
    .characteristics__body {
      overflow: auto;
    }
  }
  .p-news {
    .s-news__body {
      display: flex;
      flex-direction: column;
    }
    .s-news__left {
      order: 1;
    }
    .s-news__right__tags {
      display: flex;
      flex-wrap: wrap;
      grid-gap: 15px;
      flex-direction: row;
    }
    .s-news__tag-link {
      min-width: max-content;
    //   display: block;
    }
    .s-news__title {
      font-size: 42px;
    }

  }
  .vacancy {
    .s-profile__body {
      grid-template-columns: 630px 1fr;
    }
    .s-profile__right {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .s-profile__right__text {
      width: 160px;
    }
    .s-work__item {
      grid-template-columns: 630px 1fr;
    }
    .s-work__title {
      font-size: 21px;
    }
  }
  .calc__footer {
    position: relative;
  }
  .calc__bl-btn {
    padding-bottom: 100px;
    margin: 0 auto;
  }
  .find__results-text {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .form__modal-content {
    height: 750px;
  }
  .modal__form-submit {
    right: 50%;
    transform: translateX(50%);
    bottom: 5%;
  }
  .p-cards.p-nutrition {
    .text_h1 {
        font-size: 32px;
    }
    .p-products1__bunner__shadow_1 {
        left: 15%;
    }
    .main__bunner__bl-img.p-products1__bl-bunner:after {
        width: 80%;
    }
    .main__bunner__body.p-products1__body {
        padding-top: 80px;
        max-width: 550px;
    }
    .main__bunner__wrapper {
        grid-gap: 10px;
    }
  }
  .nutrition-1 .main__bunner__img {
    width: 190px;
    height: 190px;
    padding-left: 270px;
  }
  .nutrition-2 .main__bunner__img {
    padding-top: 80px;
    padding-left: 200px;
    width: 230px;
    height: 178px;
  }
  .nutrition-3 .main__bunner__img {
    padding-left: 220px;
    width: 220px;
    height: 170px;
  }
  .nutrition-4 .main__bunner__img {
    padding-top: 80px;
    padding-left: 240px;
    width: 190px;
    height: 185px;

  }
  .nutrition-5 .p-products1__bunner-top-bl-img {
    width: max-content;
  }
  .nutrition-5 .main__bunner__img {
    width: 200px;
    height: 180px;
    padding-top: 75px;
    padding-left: 230px;
  }
  .support {
    .support__cards {
        flex-direction: column;
        gap: 30px;
    }
    .support__card-item {
        margin: 0 auto;
    }
    .support__card-title,
    .support__card-link {
        align-self: center;
    }
  }
  .hefte {
    .main__bunner__img.p-products1__bunner-img {
        padding-left: 0;
    }
    .main__bunner__bl-img {
        left: -5%;
    }
    .filter__items {
        grid-template-columns: repeat(2, auto auto);
    }
  }
  .map {
    .map__points {
        top: 20px;
        left: 20px;
        width: 300px;     
    }
    .points__header,
    .points__main {
        padding: 25px;
    }
    .points__items {
        height: 300px;
    }
  }

  .p-products1__bunner__mini-bl-img {
    width: 350px;
  }
  .main__bunner__bl-img {
    left: -40%;
  }
  .main-page .main__bunner__bl-img {
    left: 0;
  }
  .p-products1__bunner-img {
    border-radius: 0 0 0 177px;
  }
  .p-products1__bunner__shadow_1 {
    left: -5%;
  }
  .p-products1__bunner__shadow_2 {
    left: -10%;
  }
  .p-products1__bunner-top-bl-img img {
    width: 165px;
    height: 58px;
  }
  .p-products1__bunner-top-bl-img {
    padding: 15px 10px;
  }
  .product .products1__bunner__subtitle,
  .products1__bunner__text {
    width: 100%;
  }
  .p-products1__bunner__mini-bl-img {
    left: -45%;
  }
  .swiper-button-prev.products-slider-prev {
    left: 75%
  }
  .p-products1__why__ball {
    max-width: 140px;
    max-height: 130px;
  }
  .mn-products1__why__item__bl-img {
    height: 130px;
  }

  .p-cards .p-products1__bunner-top-bl-img {
    padding: 17px 35px;
  }
  .text_h1_p-cards {
    font-size: 40px;
    line-height: 48px;
  }
  .p-cards {
    .main__bunner__bl-img {
        left: -30%;
    }
    .p-products1__bunner__shadow_1 {
        left: 10%;
        background: rgba(255, 255, 255, .2);
        border-radius: 0 0 0 280px;
      }
    .main__bunner__img.p-products1__bunner-img {
        width: 85%;
        border-radius: 0 0 0 350px;
    }
    .main__bunner__wrapper {
        gap: 110px;
    }
    .products1__bunner__text {
        font-size: 14px;
        line-height: 16px;
    }
    .slider__card-logo {
        width: 130px;
        height: 52px;
    }
    .brands__slider-title {
        font-size: 18px;
        line-height: 21px;
    }
    .brands__slider-subtitle {
        font-size: 14px;
        line-height: 16px;
    }
    .brands__slider-card {
        height: 260px;
    }
    .footer__link-text {
        font-size: 14px;
        line-height: 17px;
    }
    .slider-card__footer-link-ico {
        width: 19px;
        height: 19px;
    }
  }
   
}

@media (max-width: 768px) {
    .header__bl-city {
        flex-direction: column;
        align-items: center;
        row-gap: 5px;
    }
    .h_new-burger {
        display: block;
    }
    .header__body {
        align-items: center;
        grid-gap: 40px;
        padding: 0 10px 0 60px;
    }
    .header__bl-city .bl-phone-num {
        display: block;
    }
    .header__bl-contacts {
        display: none;
    }
    .nav__links::after {
        display: none;
      }

    .bl__head-nav.ds-768h {
        display: none
    }
    .main__bunner__img {
        padding-top: 0;
    }
    .main__bunner__body {
        max-width: 270px;
    }
    .main__bunner__title {
        font-size: 32px;
    }
    .main__bunner__subtitle {
        font-size: 16px;
    }
    .main__bunner__text {
        font-size: 12px;
    }
    .main__bunner__button {
        font-size: 16px;
    }
    .mn_areas__body {
        padding-bottom: 40px;
    }
    .mn_areas__footer-btn {
        font-size: 20px;
        padding: 17px 100px;
    }
    .mn-brands__name-brands {
        width: 98px;
        height: 40px;
    }
    .mn-brands__item-body {
        padding: 10px 10px 25px 10px;
    }
    .mn-brands__item-body::after {
        width: 100px;
        height: 90px;
        right: 5px;
    }
    .text_h4_mn-products {
        font-size: 14px;
    }
    .mn-products__item__text,
    .mn-products__item__btn {
        font-size: 12px;
    }
    .mn-products__item__btn {
        padding-bottom: 1px;
        border-bottom: 1px solid #33A648;
    }
    .text_h2 {
        font-size: 28px;
    }
    .areas-link {
        font-size: 16px;
        padding-bottom: 1px;
    }
    .mn-news__pos-img {
        width: 228px;
    }
    .mn-news__items {
        grid-column-gap: 20px;
    }
    .mn-news__item {
        grid-gap: 10px;
    }
    .mn-news__text-1 {
        font-size: 12px;
    }
    .text_h4 {
        font-size: 16px;
    }
    .mn-news__text-3 {
        font-size: 12px;
    }
    .mn-clients__items {
        grid-column-gap: 10px;
    }
    .mn-client__item__bl-img {
        width: 111px;
    }
    .mn-client__item__img {
        width: 100%;
    }

    .s-batteries__item {
        grid-template-columns: .1fr .5fr 1fr 1fr 1fr 1fr;
    }
    .s-batteries__brand {
        width: 91px;
        height: 30px;
    }
    .s-batteries__series {
        justify-self: flex-start;
        padding-left: 20px;
    }
    .s-batteries__series__text {
        font-size: 26px;
    }
    .s-batteries__item-img {
        width: 69px;
        height: 55px;
        justify-self: center;
    }
    .s-batteries__info__text span {
        font-size: 17px;
    }
    .s-batteries__info__text {
        font-size: 12px;
    }
    .s-batteries__button {
        font-size: 9px;
        max-width: 80px;
        padding: 5px;
    }
    .s-batteries__info__text img {
        width: 12px;
        height: 9px;
    }

    .p-products1__bunner__mini-bl-img {
        width: 260px;
        left: -65%;
        bottom: -5%;
    }
    .main__bunner__body {
        max-width: 310px;
    }
    .main__bunner__bl-img {
        left: -60%;
    }
    .main__bunner__img.p-products1__bunner-img {
        width: 85%;
    }
    .p-products1__bunner-top-bl-img img {
        width: 130px;
        height: 57px;
    }
    .p-products1__bunner-top {
        margin-bottom: 20px;
    }
    .products1__bunner__text {
        font-size: 12px;
    }
    .swiper-button-prev.products-slider-prev {
        left: 70%;
    }

    .series .products1__bunner__subtitle {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .series__items {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 15px;
        column-gap: 5px;
        width: 90%;
    }
    .text_h2.series__r-block__text {
        font-size: 28px;
        line-height: 33px;
    }
    .series__r-block__body {
        border-radius: 0 0 0 250px;
    }
    .series__r-block__body::after {
        left: -13%;
    }
    .series__body {
        font-size: 14px;
        line-height: 17px;
        padding: 5px 20px;
    }
    .series__item {
        width: max-content;
        justify-self: center;
    }
    .series__b-footer__size {
        font-size: 25px;
        line-height: 30px;
    }
    .series-why__bl-text_big {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 15px;
    }
    .series-why__bl-text_small {
        font-size: 14px;
        line-height: 16px;
    }
    .series-why__bl-img {
        width: 229px;
        height: 189px;
    }
    .series .text_h2_p-products1__s-why {
        font-size: 28px;
        line-height: 33px;
    }
    .characteristics .series .text_h2_p-products1__s-why {
        color: #32599E;
    }
    .series .characteristics {
        padding-bottom: 40px;
    }
    .characteristics-btn {
        margin-bottom: 40px;
    }

    .p-cards {
        .text_h1_p-cards {
            font-size: 32px;
            line-height: 38px;
        }
        .main__bunner__bl-img {
            left: -70%;
        }
        .main__bunner__img.p-products1__bunner-img {
            border-radius: 0 0 0 200px;
        }
        .p-products1__bunner__shadow_1 {
            border-radius: 0 0 0 150px;
        }
        .p-products1__body {
            padding-top: 100px;
        }
        .products1__bunner__text {
            font-size: 12px;
        }
        .p-products1__body {
            width: 65%;
        }
        .brands__slider-title {
            font-size: 16px;
            line-height: 19px;
        }
        .brands__slider-subtitle {
            font-size: 12px;
            line-height: 14px;
        }
        .footer__link-text {
            font-size: 12px;
            line-height: 14px;
        }
        .slider-card__footer-link-ico {
            width: 17px;
            height: 17px;
        }
        .s-batteries__body {
            padding-top: 30px;
        }
        .text_h2_s-batteries {
            margin-bottom: 30px;
        }
    }

    .accumulators-why {
        .series-why__bl-img {
            width: 295px;
            height: 218px;
        }
        .series-why__bl-title {
            font-size: 24px;
            line-height: 21px;
        }
        .series-why__bl-text_small {
            font-size: 12px;
            line-height: 14px;
        }

    }

}

@media (max-width: 700px) {
    .main__bunner__fon {
        margin-left: -5%;
        width: 110%;
    }
    .main__bunner__wrapper {
        grid-gap: 50px;
    }
    .swiper-pagination.main__bunner-pagination {
        position: relative;
        justify-content: center;
    }
    .main__bunner__body {
        max-width: 100%;
        margin-top: -45px;
    }
    .main__bunner__bl-button {
        margin: 20px auto 0;
    }
    .main__bunner__button {
        padding: 12px 90px 12px 25px;
    }
    .main__bunner__button::after {
        right: 30px;
    }

    .mn-products__cards.ds-700n {
        display: block;
    }
    .mn-products__cards.ds-700n .mn-products__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .mn-products__body {
        grid-gap: 15px;
    }
    .ds-700n .mn-products__items {
        grid-gap: 15px;
    }
    .mn-products__item {
        grid-gap: 5px;
    }
    .mn-products__ball {
        width: 83px;
        height: 83px;
    }
    .mn-products__pos-img {
        width: 88px;
        height: 88px;
    }
    .mn-products__img {
        width: 100%;
        height: 100%;
    }
    .text_h4_mn-products {
        font-size: 12px;
        margin-bottom: 0;
    }
    .mn-products__item__text {
        font-size: 10px;
    }
    .mn-products__item__btn {
        font-size: 8px;
    }
    .text_h2_mn_areas {
        font-size: 20px;
    }
    .mn_areas__body {
        padding: 25px 0 40px;
        grid-gap: 15px;
    }
    .mn_areas__items {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }
    .mn_areas__title {
        font-size: 15px;
    }
    .mn_areas__footer-btn {
        font-size: 16px;
        padding: 12px 70px;
    }
    .list-more-btn{
        display: flex;
    }
    .mn_items-more {
        display: none;
    }
    .mn-brands__item {
        max-width: 180px;
    }
    .mn-brands__bl-img{
        height: 87px;
    }
    .mn-brands__name-brands {
        width: 76px;
        height: 31px;
    }
    .mn-brands__bl-name-brands {
        margin-bottom: 0;
    }
    .mn-brands__item-body::after {
        width: 78px;
        height: 70px;
        bottom: 160px;
    }
    .mn-brands__img {
        border-radius: 0px 35px 0px 0px;
    }
    .mn-brands__item-body {
        border-radius: 0px 0px 35px 0px;
        padding-bottom: 20px;
    }
    .areas__text-block {
        margin-bottom: 0;
    }
    .text_h2_mn_areas {
        font-size: 20px;
        line-height: 28px;
        width: min-content;
    }
    .areas-link {
        font-size: 14px;
        white-space: nowrap;
    }
    .mn-news__body {
        grid-gap: 20px;
    }
    .mn-news__item {
        width: 228px;
    }
    .mn-news_slider {
        display: block;
        width: 100%;
        height: 400px;
    }
    .mn-news__pos-img {
        width: 100%;
        height: 152px;
    }
    .mn-products__item__btn {
        font-size: 12px;
    }
    .mn-news__body {
        padding-bottom: 30px;
    }
    .mn-news-scrollbar .swiper-scrollbar-drag {
        background: #33A648 !important;
        height: 6px;
        top: 50%;
        transform: translateY(-50%);
    }
    .text_h2_mn-clients {
        font-size: 20px;
    }
    .mn-clients__body {
        grid-gap: 25px;
    }
    .mn-clients__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .mn-client__item {
        grid-gap: 10px;
    }

    .batteries__title {
        height: 25px;
    }
    .batteries__title p {
        padding-left: 7px;
        font-size: 12px;
    }
    .s-batteries .text_small {
        font-size: 6px;
    }
    .s-batteries__info__text {
        font-size: 7px;
    }
    .s-batteries__info__text span {
        font-size: 11px;
    }
    .s-batteries__brand {
        width: 63px;
        height: 20px;
    }
    .s-batteries__series__text {
        font-size: 15px;
    }
    .s-batteries__item-brand {
        justify-self: flex-start;
        grid-area: brand;
    }
    .s-batteries__info-first {
        display: flex;
        flex-direction: column;
        grid-area: time;
    }
    .s-batteries__item-img {
        grid-area: img;
    }
    .s-batteries__series {
        padding-left: 5px;
        grid-area: series;
    }
    .s-batteries__info-second {
        grid-area: diapasone;
    }
    .s-batteries__button {
        grid-area: btn;
    }
    .s-batteries__item {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        'brand time img'
        'series diapasone btn';

        justify-items: flex-start;
        padding: 10px;
    }
    .s-batteries .text_small {
        margin-bottom: 0;
    }
    .s-batteries__info__text {
        flex-wrap: wrap;
    }

    .main__bunner__bl-img {
        left: 0;
    }
    .main__bunner__img.p-products1__bunner-img {
        width: 101%;
        border-radius: 0 0 0 100px;
    }
    .p-products1__bunner__shadow_1 {
        left: 0;
       height: 110%;
    }
    .p-products1__bunner__shadow_2 {
        left: 0;
        height: 120%;
    }
    .product .bunner-top__img {
        width: 85px;
        height: 35px;
    }
    // .swiper-button-prev.products-slider-prev,
    // .swiper-button-next.products-slider-next {
    //     background-size: contain;
    //     width: 50px !important;
    //     top: 15.5% !important;
    // }
    .swiper-container .swiper-button-prev,
    .swiper-container .swiper-button-next {
        background-size: contain;
        width: 50px !important;
        top: 15.5% !important;
    }
    // .swiper-button-prev.products-slider-prev {
    //     left: 57%;
    // }
    .swiper-container .swiper-button-prev {
        left: 57%;
    }
    .text_h2_p-products1__s-why {
        font-size: 20px;
    }
    .mn-products__body {
        padding-bottom: 50px;
    }
    .s-batteries__body {
        padding: 30px 0 40px
    }
    .text_h2_s-batteries {
        margin-bottom: 20px;
    }
    .site__link-text {
        font-size: 12px;
        line-height: 14px;
    }
    .why__site-img {
        width: 16px;
        height: 16px;
    }

    .series-body .p-products1__bunner-top::before {
        display: block;
    }
    .main__bunner__body.series-body {
        margin-top: 50px;
        align-items: flex-end;
    }
    .series .p-products1__bunner-top {
        left: 0;
    }
    .series__r-block {
        height: 100px;
    }
    .series__r-block__body {
        background: #4BBE95;
        margin-left: -3%;
        border-radius: 250px 0 0 250px;
    }
    .series .products1__bunner__subtitle {
        text-align: end;
    }
    .text_h2.series__r-block__text {
        margin-left: 3%;
    }
    .series .main__bunner__wrapper {
        flex-direction: column-reverse;
        gap: 30px;
    }
    .series .series__r-block__body {
        padding: 0;
        justify-content: flex-start;
    }
    .series__bl {
        margin-bottom: 0;
    }
    .series__r-block__body::after {
        top: 50%;
        width: 150%;
        border-radius: 0px 0px 250px 250px;
        left: -3%;
    }
    .series .series__r-block__bl-img {
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        width: 340px;
        height: 170px;
    }
    .series__bl {
        max-width: unset;
        width: 100%;
    }
    .series__items {
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    }
    .series .series__body {
        width: 35%;
        padding: 6px 15px;
        max-width: 55px;
    }
    .series .series__item a {
        font-size: 12px;
        line-height: 14px;
    }
    .series .series__item {
        justify-self: flex-start;
    }
    .text_h2.series__r-block__text {
        font-size: 20px;
        line-height: 24px;
    }

    .series__b-footer {
        padding-top: 80px;
    }

    .series .series__b-footer__item-body {
        z-index: 1;
        border-radius: 10px;
        padding: 6px 10px;
        height: max-content;
        max-width: 81px;
        min-width: unset;
        width: 100%;
    }
    .series-why .text_h2_p-products1__s-why {
        font-size: 21px;
        line-height: normal;
        color: #203569
    }
    .series .mn-products.series-intro {
        padding: 20px 0 45px;
    }
    .series-why {
        gap: 15px;
    }
    .series-why__bl-img {
        width: 100%;
    }
    .series .series-why_img {
        border-radius: 15px;
    }
    .series-why__bl-text_big {
        font-size: 14px;
        line-height: normal;
    }
    .series-why__bl-text_small {
        font-size: 10px;
        line-height: normal;
    }
    .series-why {
        padding-bottom: 0;
    }
    .series .text_h2_p-products1__s-why {
        font-size: 20px;
        line-height: normal;
    }
    .series-slider .text_h2_p-products1__s-why {
        font-size: 20px;
        line-height: normal;
    }
    .mn-products__body {
        padding: 35px 0 45px;
    }
    .characteristics__th_1 {
        font-size: 8px;
        line-height: normal;
    }
    .characteristics__table {
        width: max-content;
    }
    .characteristics__td_2 {
        font-size: 10px;
        line-height: 18px;     
    }
    .characteristics__tr_2 td:first-child {
        text-decoration-line: none;
        font-weight: 600;
        padding-left: 5px;
    }
    .characteristics__tr_1 th:first-child {
        padding-left: 10px;
    }
    .battary_contact .td__link {
        width: 15px;
        height: 15px;
        top: 70%;
        transform: translateY(-50%);
        right: 10px;
    }
    .characteristics-btn {
        font-size: 16px;
        line-height: normal;
        max-width: 216px;
        padding: 10px 25px;
    }

  .series-why_img {
    width: 100%;
    height: auto;
  }
  .series-why__bl-text {
    display: flex;
    flex-direction: column;
  }

  .battary_contact {
    .p-products1__bunner__mini-img {
      display: none;
    }
    // .td__link {
    //     top: 30px;
    // }
  }
  .s-batteries__img {
    width: 70%;
    height: auto;
  }
  .p-cards__item-link {
    // padding-left: 30px;
    // font-size: 9px;
  }
  .support {
    .support__card-item {
        max-width: 200px;
    }
  }
  .hefte {
    .h-products__items {
      @include grid(1fr, auto);
      grid-gap: 25px;
    }

    .h-product__bl-download {
      width: 30px;
      height: 30px;
      background-size: 18px;
    }
    .h-product__img {
      width: 100%;
    }
    .h-products__logo {
      width: 100px;
      height: 40px;
    }
    .s-areas__footer__link {
      padding-right: 32px;
    }
    .s-areas__footer__link::after {
      width: 26px;
      height: 29px;
    }
    .series__items {
      @include grid(1fr 1fr, auto);
    }
    .series__body {
      font-size: 14px;
    }
    .filter__items {
        grid-template-columns: auto auto;
        justify-items: center;
    }
    .h-products__logo-2 {
        width: 120px;
        height: 50px;
        padding-left: 0;
    }
  }
  .s-batteries__items {
    display: flex;
    grid-gap: 0px;
  }
//   .batteries__title {
//     display: none;
//   }
//   .mn-products__footer {
//     display: none;
//   }
  .calc-right__items {
    @include grid(1fr 1fr, auto);
    grid-gap: 10px;
  }
//   .mn-brands__item-body {
//     padding-bottom: 60px;
//   }
  .mn-brands__body {
    padding-bottom: 30px;
    grid-gap: 20px;
  }
  .swiper-container {
    .mn-products__item__btn {
      font-size: 10px;
    }
  }
  .product .mn-products__items {
    display: flex;
    grid-gap: 0px;
  }
//   .mn-clients__items {
//     display: flex;
//     grid-gap: 0;
//   }
  .mn-brands__item-body {
    padding-top: 13px;
    padding-left: 10px;
    padding-right: 10px;
  }
//   .mn-brands__item-body::after {
//     width: 115px;
//     height: 100px;
//     bottom: -7px;
//     right: 13px;
//   }
  .mn-products__item__bl-img {
    width: max-content;
    height: max-content;
  }
//   .mn-products__img {
//     height: 156px;
//     padding: 10px;
//   }
  .calc__btn {
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .calc__clear-btn {
    margin-right: 60px;
  }
  .find__results-text {
    width: 300px;
  }
  .mn-brands__items {
    display: flex;
    grid-gap: 0;
  }
  .calc-footer.ds-700a {
    background-color: $colorWhite;
    border-radius: 13px;
    padding: 15px;
    .text {
      font-size: 14px;
    }
  }
  .mn-products__items,
  .mn-brands__items {
    grid-template-columns: 1fr;
  }
  .calc-right__item:nth-child(3) {
    border-top: 1px solid #929292;
  }
  .calc-left__bl-input {
    width: 75px;
  }
  .calc-right__item:nth-child(4) {
    border-top: 1px solid #929292;
  }
  .calc {
    .text {
      font-size: 10px;
    }
  }
  .calc-left__data_1 {
    display: flex;
    flex-direction: column;
  }
  .calc-left__items {
    grid-gap: 15px;
  }
  .calc-left__item_1 {
    align-items: start;
  }
  .calc-left__radio {
    @include grid(1fr 1fr, auto);
  }
  .calc-right__body {
    padding: 15px;
  }
  .calc-left__radio .custom-radio + label::before {
    width: 17px;
    height: 17px;
  }
  .calc-checkbox .custom-checkbox + label::before {
    width: 17px;
    height: 17px;
  }
  .calc-checkbox .custom-checkbox:checked + label::before {
    background-size: 16px;
  }
  .calc-right__item {
    padding-right: 10px;
  }
//   .mn_areas__items {
//     grid-template-columns: repeat(3, auto);
//   }
  .mn-news__items {
    grid-template-columns: 1fr;
  }
  .mn-clients__items {
    grid-template-columns: repeat(2, auto);
  }
  .main__bunner__wrapper {
    display: flex;
    flex-direction: column;
  }
  .product .main__bunner.p-products1__bunner .main__bunner__wrapper {
    grid-gap: 30px;
  }
  
  .main__bunner__body {
    order: 1;
    padding: 0;
    padding-bottom: 50px;
    grid-gap: 15px;
  }
  .main__bunner__fon {
    height: 170px;
    // display: none;
    // height: 160px;
    // margin: 0px -15px;
  }
  .main__bunner__img {
    border-radius: 0px 0px 0px 100px;
  }
  .main__bunner__button::after {
    top: 22px;
  }
  .mn-brands__item__body {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
  }
//   .mn_areas__text {
//     display: none;
//   }
//   .mn_areas__title {
//     font-size: 10px;
//   }
  .mn_areas__img {
    width: 60px;
    height: 60px;
  }
  .mn_areas__items {
    grid-row-gap: 20px;
  }
//   .mn_areas__footer {
//     display: none;
//   }
  .mn-news__item {
    display: flex;
    flex-direction: column;
  }
//   .mn-news__pos-img {
//     width: 90px;
//     height: 90px;
//   }
  .mn-news__text-3 {
    height: 70px;
  }
  .mn-news__items {
    grid-row-gap: 40px;
  }
  .mn-news__footer-btn {
    font-size: 16px;
  }
//   .mn-client__item__text {
//     display: none;
//   }
  .mn-clients__items {
    grid-row-gap: 30px;
  }
  .mn-client__item__img {
    width: 130px;
    height: 53px;
  }
  .product {
    .p-products1__bunner-top {
      position: absolute;
      top: 0;
      z-index: 10;
    }
    .p-products1__bunner__mini-bl-img {
      position: absolute;
    }
    .p-products1__bl-bunner {
      width: 100%;
    }
    .p-products1__bunner-img {
    //   padding-left: 60px;
      height: 165px;
    }
    .p-products1__bunner__shadow_1 {
      border-radius: 85px 0px 0px 0px;
    //   left: 35px;
    }
    .p-products1__bunner__shadow_2 {
      border-radius: 85px 0px 0px 0px;
    //   left: 10px;
    }
    .p-products1__bunner__mini-bl-img {
      // width: 155px;
      // height: 140px;
      top: 70px;
      z-index: 11;
      left: 50%;
      bottom: -40%;
      img {
        width: 145px;
        height: 130px;
      }
    }
    .p-products1__bunner-top-bl-img {
      padding: 7px 15px;
      border-radius: 0px 0px 20px 20px;
    }
    // .bunner-top__img {
    //   width: 100px;
    //   height: 40px;
    // }
    .products1__bunner__subtitle {
      
      width: 100%;
      padding-top: 70px;
      font-size: 14px;
      color: #203569;
    }
    .products1__bunner__text {
        width: 100%;
        font-size: 10px;
    }
    .mn-products1__why__item__bl-img {
      height: max-content;
    }
    .p-products1__why__ball {
      width: 103px;
      height: 93px;
    }
    // .mn-products__img {
    //   width: 55%;
    //   height: auto;
    // }
    .mn-products__items {
      grid-template-columns: 1fr 1fr;
    }
    .s-areas__footer {
      display: none;
    }
    .main__bunner__wrapper {
      position: relative;
    }
  }
  .bunner-top__img {
    width: 100px;
    height: 40px;
  }
  .products1__bunner__text {
    width: 100%;
  }
  .p-products1__bunner-top-bl-img {
    padding: 7px 15px;
  }
  .p-products1__bunner-top-bl-img:first-child {
    border-radius: 0px 0px 0px 20px;
  }
  .p-products1__bunner-top-bl-img:last-child {
    border-radius: 0px 0px 20px 0px;
  }
  .filter__arrow-img {
    margin-left: 12%;
  }
  .slider__card-logo {
    width: 150px;
    height: 50px;
  }
  .brands__slider-card {
    padding: 20px 0 0 5px;
  }
  .brands__slider-card-footer {
    padding: 10px;
  }
  .p-cards {
    .main__bunner__fon {
      // display: none;
    }
    .p-products1__body {
        padding-top: 60px;
      }
    // .main__bunner__fon {
    //   display: none;
    // }
    
    .main__bunner__fon {
        height: 119px;
    }
    .main__bunner__img.p-products1__bunner-img {
        width: 100%;
        padding-left: 0;
        border-radius: 0 0 0 100px;
    }
    .main__bunner__bl-img {
        left: 0;
    }
    .p-products1__bunner__shadow_1 {
        left: 0;
        border-radius: 0 0 0 80px;
    }
    .p-products1__bunner-top-bl-img {
        padding: 18px 16px;
    }
    .text_h1_p-cards {
        font-size: 24px;
        line-height: 28px;
        width: min-content;
    }
    .p-products1__bunner-top-bl-img {
        border-radius: 0 0 25px 25px;
    }
    .main__bunner__wrapper {
        gap: 20px;
    }
    .p-products1__body {
        width: 100%;
        padding-bottom: 30px;
    }
    .text_h4.products1__bunner__subtitle {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
    }
    .products1__bunner__text {
        font-size: 10px;
        line-height: 12px;
    }
    .mn-products__body {
        padding: 35px 0;
        gap: 30px;
    }
    .p-products1__s-why .swiper-container {
        margin-bottom: 0;
    }
    .slider__card-logo {
        width: 95px;
        height: 38px;
    }
    .brands__slider-title {
        font-size: 14px;
        line-height: 16px;
    }
    .brands__slider-subtitle,
    .footer__link-text {
        font-size: 10px;
        line-height: 12px;
    }
    .brands__slider-card {
        height: 200px;
        padding: 20px 20px 0 5px;
    }
    .text_h2_s-batteries {
        font-size: 20px;
        line-height: 24px;
    }
  }
  .series {
    .main__bunner__wrapper {
      position: relative;
    }
    .p-products1__bunner-top {
      position: absolute;
      top: -8px;
      z-index: 10;
    }
    .p-products1__bunner-top-bl-img {
      padding: 10px 17px;
      border-radius: 0px 0px 20px 20px;
    }
    .bunner-top__img {
      width: 98px;
      height: 33px;
    }
    // .series__r-block__body {
    //   padding: 0;
    //   display: flex;
    //   height: 155px;
    //   justify-content: end;
    //   padding-top: 20px;
    // }
    // .series__r-block__text {
    //   padding-top: 20px;
    //   width: 200px;
    //   font-size: 18px;
    // }
    .series__r-block__body::before {
      content: none;
    }
    // .series__r-block__bl-img {
    //   width: 200px;
    //   height: auto;
    //   left: auto;
    //   right: 0px;
    // }
    // .series__r-block__img {
    //   width: 200px;
    //   height: auto;
    // }
    .products1__bunner__subtitle {
      font-size: 14px;
    }
    .series__body {
      font-size: 18px;
    }
    // .series__items {
    //   overflow: auto;
    // }
    // .series__b-footer__item-body {
    //   width: 71px;
    //   box-sizing: border-box;
    // }
    .series__b-footer__title {
      font-size: 8px;
    }
    .series__b-footer__size {
      font-size: 18px;
      line-height: 100%;
    }
    .series__b-footer__last-text {
      font-size: 8px;
    }
    .series__b-footer__item-body::after {
      width: 15px;
      padding: 6px;
      bottom: -15%;
      right: 10%;
    }
    .series__b-footer__items {
      grid-gap: 10px;
      align-items: center;
      justify-content: space-between;
    }
    // .p-products1__why__ball {
    //   width: 60px;
    // }
    // .p-products1__why__ball {
    //     width: 103px;
    //     height: 93px;
    //   }
    // .mn-products__img {
    //   width: 65%;
    // }
    .series-why__body {
      display: flex;
      flex-direction: column;
      grid-gap: 25px;
    }
    .series-why_img {
      width: 100%;
      height: 100%
    }
  }
  .p-products1__why__ball {
    width: 103px;
    height: 93px;
  }
//   .mn-products__img {
//     width: 55%;
//     height: auto;
//   }
  .company {
    .bl-principles__five {
      display: flex;
      flex-direction: column;
    }
    .bl-principles__line {
      width: max-content;
      border-radius: 50%;
      background: #33a648;
    }
    .bl-principles__bl-left__text {
      font-size: 27px;
    }
    .bl-principles__body {
      .text {
        font-size: 16px;
      }
    }
    .text_h2_p-products1__s-why {
      font-size: 25px;
    }
    .company__bunner {
      border-radius: 0;
    }
    .company__bunner__body {
      padding: 118px 15px 100px 15px;
      text-align: center;
    }
    .s-culture__body {
      grid-gap: 30px;
    }
    .company__bl-clients {
      display: flex;
      flex-direction: column;
    }
    .company__bl-clients__img {
      width: 100%;
    }
    .company__bl-clients_2 {
      .company__bl-clients__bl-img {
        order: 1;
      }
    }
  }
  .p-news {
    .main__bunner__wrapper {
      position: relative;
    }
    ._container.ds-700n {
        display: none;
    }
    ._container {
        flex-direction: column;
    }
    .s-news__right {
        display: flex;
    }
    .s-news__right__body {
        margin: 0 auto
    }
    .s-news__right {
        display: none;
    }
    .s-news__right.ds-700n {
        display: flex;
    }
    .p-products1__bunner-top-bl-img {
      z-index: 10;
      width: -webkit-fill-available;
      width: -moz-available;
    }
    .text_h1_p-cards {
      text-align: center;
    }
    .s-news__right__body {
    //   padding: 0;
    //   border: none;
    }
    .s-news__tag-link {
      min-width: auto;
    }
    .s-news__tags {
      display: none;
    }
    .s-news__title {
      font-size: 18px;
    }
    .s-news__bl-img {
      margin: 0 -15px;
    }
    .s-news__img {
      width: 100%;
      // object-fit: contain;
      height: 175px;
      border-radius: 0;
    }
    .mn-news__item {
      .mn-news__bl-img {
        display: none;
      }
    }
  }

  .p-accumulators { 
    .series-why__body {
        display: flex;
        flex-direction: column;
    }
    .series-why__bl-img {
        width: 100%;
        height: 129px;
    }
    .series-why_img {
        border-radius: 13px;
    }
    .series-why {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .series-why__bl-title {
        font-size: 18px;
        line-height: 21px;
    }
  } 
  .p-news_item {

    .news__item-img {
        width: 100%;
    }
    .item__footer-buttons {
        flex-direction: column;
    }
    .p-news__bunner-body {
        padding-top: 20px;
    }
    ._container.ds-700n {
        display: none;
    }
  }   
  .vacancy {
    .p-products1__bunner-top-bl-img {
      display: block;
      width: -webkit-fill-available;
      width: -moz-available;
      text-align: center;
      margin: 0;
    }
    .p-products1__body {
      padding-top: 90px;
    }
    .products1__bunner__subtitle {
      font-weight: 600;
    }
    .s-appreciate__title {
      font-size: 22px;
    }
    .s-offer__items {
      display: flex;
      flex-direction: column;
    }
    .s-offer__item {
      align-items: flex-start;
      grid-gap: 17px;
    }
    .s-offer__text {
      font-size: 18px;
    }
    .s-offer__body {
      padding-bottom: 30px;
    }
    .s-profile__body {
      display: flex;
      flex-direction: column;
    }
    .s-profile__right {
      flex-direction: row;
    }
    .s-profile__img {
      width: 91px;
      height: 91px;
    }
    .s-work__item {
      display: flex;
      flex-direction: column;
    }
    .s-work__top {
      grid-gap: 20px;
    }
    .s-work__text {
      font-size: 16px;
    }
    .s-work__price {
      width: 100%;
      text-align: center;
    }
    .s-work__body {
      padding-bottom: 10px;
    }
    .list__item-link {
        flex-direction: column;
    }
    .item__link-title {
        margin-bottom: 10px;
        align-self: flex-start;
    }
    .item__link-more {
        align-self: flex-end;
    }
  }
  .respond {
    .respond__back::after {
      background-size: 45px;
    }
    .respond__back {
      padding-left: 70px;
    }
    .s-work__subtitle {
      font-size: 21px;
    }
    .s-work__right {
      grid-gap: 10px;
    }
    .s-offer__body {
      grid-gap: 20px;
      padding-bottom: 0;
    }
    .s-responsibilities {
      display: flex;
      flex-direction: column;
      grid-gap: 5px;
    }
    .responsibilities__text {
      font-size: 16px;
    }
    .s-offer_last {
      order: 1;
    }
    .respond-form__title {
      font-size: 18px;
      padding-bottom: 10px;
    }
    .s-form__body {
      .text {
        font-size: 16px;
      }
    }
    .respond-form__bl-files {
      display: flex;
      flex-direction: column;
      grid-gap: 10px;
    }
    .respond-form__btn {
      width: 100%;
    }
  }
  .text_h1_p-cards {
    font-size: 20px;
  }
  .calc-footer__svg {
    width: 31px;
    height: 35px;
  }
  .ds-700n {
    display: none;
  }
  .form__modal-main {
    margin: 0 auto;
    max-width: 250px;
  }
  .form__modal-content {
    height: 900px;
  }
  .form__modal-close {
    top: 40px;
  }
  .form__modal-title {
    font-size: 38px;
  }
  .modal__form-other {
    flex-direction: column;
  }
  .modal__form-captcha {
    margin-bottom: 10px;
  }
  .modal__form-submit {
    bottom: 2%;
    padding: 10px 70px;
  }
  .map {
    .pm-700 {
        display: none;
    }
    .cards__block {
        flex-direction: column;
    }
    .cards__item {
        max-width: 320px;
    }
    .card__main {
        flex-direction: column;
        gap: 20px;
    }
    .card__main-ico {
        width: 200px;
        height: 100px;
        align-self: center;
    }
    .points__header {
        padding-bottom: 5px
    }
  }
} ;
