@import "mixins";
/* ***** Color ***** */
$colorWhite: white;
$colorBlack: black;

/* ******** main  ******** */
body {
  min-width: 100%;
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: $colorBlack;
}
/* ********** container ************ */
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 0 1;
}
._container {
  max-width: 1240px;
  padding: 0px 15px;
  margin: 0 auto;
}
.display-none {
  display: none;
}
.text_h1 {
  @include fontMuseo500(50px, 120%);
}
.text_h2 {
  @include fontMuseo500(42px, 120%);
  font-weight: 600;
}
.text_h3 {
  @include fontMuseo500(27px, 120%);
  font-weight: 600;
}
.text_h4 {
  @include fontMuseo500(21px, 120%);
  font-weight: 400;
}
.text {
  @include fontMuseo300(16px, 130%);
}
.text_small {
  @include fontMuseo300(12px, 115%);
}
.btn {
  @include fontMuseo500(21px, 120%);
  color: $colorWhite;
  font-weight: 600;
}
@media (max-width: 1024px) {
  .text_h1 {
    @include fontMuseo500(42px, 120%);
    font-weight: 600;
  }
  .text_h2 {
    @include fontMuseo500(34px, 120%);
    font-weight: 600;
  }
  .text_h3 {
    @include fontMuseo500(28px, 120%);
    font-weight: 600;
  }
  .text_h4 {
    @include fontMuseo500(18px, 120%);
    font-weight: 400;
  }
  .text {
    @include fontMuseo300(16px, 130%);
  }
  .text_small {
    @include fontMuseo300(12px, 115%);
  }
  .btn {
    @include fontMuseo500(21px, 120%);
    color: $colorWhite;
    font-weight: 600;
  }
}
@media (max-width: 700px) {
  .text_h1 {
    @include fontMuseo500(32px, 120%);
    font-weight: 600;
  }
  .text_h2 {
    @include fontMuseo500(34px, 120%);
    font-weight: 600;
  }
  .text_h3 {
    @include fontMuseo500(22px, 120%);
    font-weight: 600;
  }
  .text_h4 {
    @include fontMuseo500(16px, 120%);
    font-weight: 400;
  }
  .text {
    @include fontMuseo300(14px, 130%);
  }
  .text_small {
    @include fontMuseo300(10px, 115%);
  }
  .btn {
    @include fontMuseo500(16px, 120%);
    color: $colorWhite;
    font-weight: 600;
  }
}
.rectangle {
  position: relative;
  padding-top: 16px;
}
.rectangle::before {
  position: absolute;
  content: "";
  top: -2px;
  left: -50vw;
  width: 150vw;
  height: 8px;
  background: #32599e;
}
.rectangle::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 0;
  width: 120px;
  height: 17px;
  background: #32599e;
  border-radius: 0px 0px 15px 15px;
  display: inline-block;
}
/* ******************** style **************** */
@import "header-footer";
@import "main-page";
@import "products";
@import "device";
